.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.profileInfo {
  width: 100%;
  max-width: 800px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profilePhotoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profilePhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.fileInput {
  margin-bottom: 10px;
}
.links {
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* White color for emphasis */
  text-decoration: underline; /* Underline the links */
  transition: color 0.3s ease; /* Smooth color transition */
}

.links:hover {
  color: #008f0c; /* Golden color on hover */
}
.uploadButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.uploadButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.uploadButton:hover {
  background-color: #45a049;
}

.photoPreviewContainer {
  margin-top: 20px;
  text-align: center;
}

.previewImg {
  border-radius: 10px;
}

.formContainer {
  margin-top: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputGroup label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
}

.saveButton {
  background-color: #007BFF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.saveButton:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.show {
  display: block;
  opacity: 1;
}

.popup p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}
