/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Title */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

/* Form */
.form {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Group */
.formGroup {
  margin-bottom: 20px;
}

/* Labels */
.label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333333;
}
.label1 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 5px;
  color: #005d20;
}
/* Input Fields */
.inputField {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Checkbox & Radio buttons */
/* Checkbox & Radio buttons */
.formGroup input[type="checkbox"],
.formGroup input[type="radio"] {
  transform: scale(1.5); /* Adjust the number to make it bigger or smaller */
  margin-right: 10px;
}


.formGroup input[type="radio"] {
  margin-right: 10px;
}

/* Submit Button */
.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #025200;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #027f3d;
}

/* File Upload */
.input[type="file"] {
  margin-top: 10px;
  padding: 5px;
}

/* Image Preview */
.previewImg {
  margin-top: 10px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

/* Status Message */
.statusMessage {
  font-size: 1rem;
  color: #d9534f;
  margin-top: 20px;
}

/* Categories Dropdown */
.selectCategory {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color: #333;
  transition: border-color 0.3s;
}

.selectCategory:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Form Group: Input Alignment */
.inputFieldText,
.inputFieldEmail,
.inputFieldPassword,
.inputFieldTel {
  max-width: 100%;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .form {
    padding: 15px;
  }

  .inputField {
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 1rem;
  }
}
.div1 {
  margin-bottom: 40px; /* Adds space below div1 */
}

.div2 {
  margin-top: 40px; /* Adds space above div2 */
}
