.businessContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.businessList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.businessCard {
  flex: 1 1 calc(33.33% - 16px); /* Equal size sections, 3 per row */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.businessCard:hover {
  transform: translateY(-10px); /* Lift the card on hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: #ffffff; /* Brighten the background on hover */
}

.businessPhoto {
  border-radius: 50%;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.businessCard:hover .businessPhoto {
  transform: scale(1.1); /* Slightly enlarge the photo on hover */
}

.businessName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
  color: #333;
  transition: color 0.3s ease;
}

.businessCard:hover .businessName {
  color: #0070f3; /* Change the text color on hover */
}
.noPhotoText {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  color: #999;
  font-size: 0.9rem;
  border-radius: 50%;
  margin-bottom: 12px;
}
.businessImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 150px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .businessImage {
    max-height: 120px;
    width: 90%;
    margin: 0 auto;
  }
}



/* Scrollable horizontal list for mobile view */
@media (max-width: 768px) {
  .businessList {
    flex-wrap: nowrap; /* Disable wrapping */
    overflow-x: auto; /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }

  .businessCard {
    flex: 0 0 80%; /* Take 80% width of the frame */
    margin-right: 16px; /* Add space between cards */
  }
}
